---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "minima/custom-styles";

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  