<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- seo -%}
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=65033a47ab24060019dda23d&product=inline-share-buttons&source=platform" async="async"></script>
  {%- include head.html -%}

  <body>

    
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
